<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="red">
                <ion-back-button s style="color: antiquewhite;" defaultHref="/information"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title style="color: antiquewhite; font-weight: 500;">Attendance</ion-title>
        <ion-title slot="end" style="color: antiquewhite;">
            <p>NOTIFICATION STATUS</p>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>


    <ion-list>



        <div class="label">
            <ion-label class="ion-padding">Course</ion-label>
        </div>
        <div class="select" (click)="getCourse()">

            <ion-select [interfaceOptions]=" Course" [(ngModel)]="course" (cancel)="onCancel()" (ionChange)="selectedCourse($event)" (change)="onChange($event.target.value)">

                <ion-select-option *ngFor="let courses of courses " [value]="courses.id">{{courses.courseName}}</ion-select-option>

            </ion-select>

        </div>

        <div class="label">
            <ion-label class="ion-padding">Batch</ion-label>
        </div>
        <div class="select">

            <ion-select [interfaceOptions]="Batch" [(ngModel)]="batches" (cancel)="onCancel()" (ionChange)="selectedBatch($event)">

                <ion-select-option *ngFor="let batches of batchesz " [value]="batches.id">{{batches.name}}</ion-select-option>

            </ion-select>

        </div>

        <div class="label">
            <ion-label class="ion-padding">Subject</ion-label>
        </div>

        <div class="select" (click)="getSubjects()">

            <ion-select [interfaceOptions]="Subjects" [(ngModel)]="subjects">

                <ion-select-option *ngFor="let subjects of subjectz " [value]="subjects.id">{{subjects.name}}</ion-select-option>

            </ion-select>

        </div>


    </ion-list>


</ion-content>


<ion-footer>

    <div class="makeAttendance">MARK ATTENDANCE</div>
    <div class="viewReports">VIEW REPORTS</div>


</ion-footer>