<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="red">
                <ion-back-button s style="color: antiquewhite;" defaultHref="/home"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title style="color: antiquewhite;">Change password</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div id=formz>

        <ion-grid>

            <div padding>
                <form #myForm="ngForm">
                    <div class="form-group">
                        <ion-item>

                            <ion-input #input type="password" placeholder="Current Password" id="currentpassword" required minlength='4' [(ngModel)]="login.currentpassword" name="currentpassword"></ion-input>


                            <ion-icon name="eye-off-outline" (click)="showPassword(input)"></ion-icon>
                        </ion-item>
                        <br>
                        <ion-item>
                            <ion-input #input2 type="password" placeholder="New Password" id="newpassword" required minlength='4' [(ngModel)]="login.newpassword" name="newpassword"></ion-input>

                            <ion-icon name="eye-off-outline" (click)="showPassword(input2)"></ion-icon>
                        </ion-item>


                        <ion-button expand="block" [disabled]="!myForm.form.valid" (click)="presentToast()">CHANGE PASSWORD</ion-button>

                    </div>

                </form>
            </div>
            <div class="line-text">

                <span class="text">CANCEL</span>
            </div>




        </ion-grid>

    </div>
</ion-content>