<ion-header>
    <ion-toolbar>
        <ion-title>modal</ion-title>
        <ion-buttons slot="end">

            <ion-button (click)="dismiss()">Close</ion-button>


        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Select your preferred language</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="ar">Arabic</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

</ion-content>